<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_practice</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="63b9fe">  <td>24/05/11 19:54:48</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:testScripts.Post_Test_Script@2ab4bc72]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1236444285</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 19:54:55</td>   <td>6350</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:testScripts.Post_Test_Script@2ab4bc72]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1236444285</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 19:54:48</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_practice.validate()[pri:0, instance:Mockpractice.Post_practice@6d60fe40]">validate</td> 
  <td>TestNG-test=Test_practice-1@154173878</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 19:54:48</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:testScripts.Post_Test_Script@2ab4bc72]">validate</td> 
  <td>TestNG-test=Test_practice-2@412111214</td>   <td></td> </tr>
</table>
