<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_data_driven_xml</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4949f">  <td>24/05/11 14:43:36</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_data_driven_testng_xml.teardown()[pri:0, instance:testScripts.Post_data_driven_testng_xml@6f01b95f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 14:43:29</td>   <td>-6688</td> <td>&nbsp;</td><td title="&gt;&gt;Post_data_driven_testng_xml.Setup()[pri:0, instance:testScripts.Post_data_driven_testng_xml@6f01b95f]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 14:43:29</td>   <td>-6596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_data_driven_testng_xml.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Post_data_driven_testng_xml@6f01b95f]">validate_Post</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 14:43:36</td>   <td>168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_data_driven_testng_xml.validate_Post(java.lang.String,java.lang.String)[pri:0, instance:testScripts.Post_data_driven_testng_xml@aba625]">validate_Post</td> 
  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 14:43:36</td>   <td>155</td> <td>&nbsp;</td><td title="&gt;&gt;Post_data_driven_testng_xml.Setup()[pri:0, instance:testScripts.Post_data_driven_testng_xml@aba625]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 14:43:37</td>   <td>1187</td> <td>&nbsp;</td><td title="&lt;&lt;Post_data_driven_testng_xml.teardown()[pri:0, instance:testScripts.Post_data_driven_testng_xml@aba625]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@504807594</td>   <td></td> </tr>
</table>
