<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa63ab">  <td>24/05/11 19:47:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_test_script.execute()[pri:0, instance:testScripts.Post_param_test_script@6f204a1a]">execute</td> 
  <td>TestNG-test=Parallel_runner-4@1370074462</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 19:47:31</td>   <td>-122</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setup()[pri:0, instance:testScripts.Patch_Test_Script@6f01b95f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>24/05/11 19:47:31</td>   <td>-100</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_test_script.setup()[pri:0, instance:testScripts.Post_param_test_script@6f204a1a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 19:47:31</td>   <td>-98</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setup()[pri:0, instance:testScripts.Put_Test_Script@710636b0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/11 19:47:31</td>   <td>-171</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setup()[pri:0, instance:testScripts.Delete_Test_Script@5f8e8a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 19:47:31</td>   <td>-125</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_Script.setup()[pri:0, instance:testScripts.Get_Test_Script@3de8f619]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/11 19:47:31</td>   <td>-113</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:testScripts.Post_Test_Script@2de56eb2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/11 19:47:42</td>   <td>10514</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.teardown()[pri:0, instance:testScripts.Delete_Test_Script@5f8e8a9d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 19:47:42</td>   <td>10545</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:testScripts.Put_Test_Script@710636b0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/11 19:47:42</td>   <td>10537</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:testScripts.Post_Test_Script@2de56eb2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 19:47:42</td>   <td>10531</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.teardown()[pri:0, instance:testScripts.Patch_Test_Script@6f01b95f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 19:47:42</td>   <td>10523</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_Script.teardown()[pri:0, instance:testScripts.Get_Test_Script@3de8f619]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1889057031</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 19:47:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate()[pri:0, instance:testScripts.Patch_Test_Script@6f01b95f]">validate</td> 
  <td>TestNG-test=Parallel_runner-1@1122130699</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>24/05/11 19:47:40</td>   <td>9396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate()[pri:0, instance:testScripts.Delete_Test_Script@5f8e8a9d]">validate</td> 
  <td>TestNG-test=Parallel_runner-5@1923999715</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 19:47:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate()[pri:0, instance:testScripts.Put_Test_Script@710636b0]">validate</td> 
  <td>TestNG-test=Parallel_runner-2@570794077</td>   <td></td> </tr>
<tr bgcolor="6fbf7f">  <td>24/05/11 19:47:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:testScripts.Post_Test_Script@2de56eb2]">validate</td> 
  <td>TestNG-test=Parallel_runner-5@1923999715</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 19:47:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_Script.validate()[pri:0, instance:testScripts.Get_Test_Script@3de8f619]">validate</td> 
  <td>TestNG-test=Parallel_runner-3@1789452565</td>   <td></td> </tr>
</table>
