<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_series_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/11 13:32:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setup()[pri:0, instance:testScripts.Put_Test_Script@6b695b06]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 13:32:40</td>   <td>9179</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_Script.teardown()[pri:0, instance:testScripts.Get_Test_Script@5965d37]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 13:32:39</td>   <td>8412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:testScripts.Post_Test_Script@7a5ceedd]">validate</td> 
  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 13:32:38</td>   <td>6709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_Script.validate()[pri:0, instance:testScripts.Get_Test_Script@5965d37]">validate</td> 
  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 13:32:31</td>   <td>74</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate()[pri:0, instance:testScripts.Put_Test_Script@6b695b06]">validate</td> 
  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 13:32:31</td>   <td>-3</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:testScripts.Post_Test_Script@7a5ceedd]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/11 13:32:40</td>   <td>9199</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:testScripts.Put_Test_Script@6b695b06]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/05/11 13:32:31</td>   <td>-47</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_Script.setup()[pri:0, instance:testScripts.Get_Test_Script@5965d37]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>24/05/11 13:32:40</td>   <td>9188</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:testScripts.Post_Test_Script@7a5ceedd]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
</table>
