<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>parallel_Test_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/05/06 19:52:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:testScripts.Post_Test_Script@4007f65e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@131872530</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 19:52:53</td>   <td>-1</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_Script.setup()[pri:0, instance:testScripts.Get_Test_Script@5a5a729f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@800088638</td>   <td></td> </tr>
<tr bgcolor="69fba1">  <td>24/05/06 19:52:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_Script.setup()[pri:0, instance:testScripts.Delete_Test_Script@624ea235]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1541525668</td>   <td></td> </tr>
<tr bgcolor="7cfb87">  <td>24/05/06 19:52:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.setup()[pri:0, instance:testScripts.Patch_Test_Script@821330f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@1834361038</td>   <td></td> </tr>
<tr bgcolor="857fe2">  <td>24/05/06 19:52:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setup()[pri:0, instance:testScripts.Put_Test_Script@6f15d60e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@1680503330</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 19:53:01</td>   <td>7421</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:testScripts.Post_Test_Script@4007f65e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@131872530</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 19:53:02</td>   <td>8475</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_Script.teardown()[pri:0, instance:testScripts.Get_Test_Script@5a5a729f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@800088638</td>   <td></td> </tr>
<tr bgcolor="69fba1">  <td>24/05/06 19:52:59</td>   <td>5579</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_Script.teardown()[pri:0, instance:testScripts.Delete_Test_Script@624ea235]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1541525668</td>   <td></td> </tr>
<tr bgcolor="7cfb87">  <td>24/05/06 19:53:00</td>   <td>7314</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.teardown()[pri:0, instance:testScripts.Patch_Test_Script@821330f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@1834361038</td>   <td></td> </tr>
<tr bgcolor="857fe2">  <td>24/05/06 19:53:00</td>   <td>7350</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:testScripts.Put_Test_Script@6f15d60e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@1680503330</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>24/05/06 19:52:53</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:testScripts.Post_Test_Script@4007f65e]">validate</td> 
  <td>TestNG-tests-1@131872530</td>   <td></td> </tr>
<tr bgcolor="7e93f1">  <td>24/05/06 19:52:53</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_Script.validate()[pri:0, instance:testScripts.Get_Test_Script@5a5a729f]">validate</td> 
  <td>TestNG-tests-2@800088638</td>   <td></td> </tr>
<tr bgcolor="69fba1">  <td>24/05/06 19:52:53</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_Script.validate()[pri:0, instance:testScripts.Delete_Test_Script@624ea235]">validate</td> 
  <td>TestNG-tests-3@1541525668</td>   <td></td> </tr>
<tr bgcolor="7cfb87">  <td>24/05/06 19:52:53</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate()[pri:0, instance:testScripts.Patch_Test_Script@821330f]">validate</td> 
  <td>TestNG-tests-4@1834361038</td>   <td></td> </tr>
<tr bgcolor="857fe2">  <td>24/05/06 19:52:53</td>   <td>139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate()[pri:0, instance:testScripts.Put_Test_Script@6f15d60e]">validate</td> 
  <td>TestNG-tests-5@1680503330</td>   <td></td> </tr>
</table>
